.btnBack {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  background-color: #ffffff;
  color: rgb(7, 0, 0);
  text-decoration: none;
  border-radius: 8px;
  margin: 8px auto 8px 40px;
}
.movieContainer {
  display: flex;
  margin-left: 40px;
  max-height: 450px;
  font-size: 16px;
}
.movieProperty {
  margin-left: 24px;
  width: 800px;
}
.movieTitle {
  font-size: 40px;
}
.addInfo {
  margin: 12px auto 12px 40px;
}
.addItem {
  font-size: 20px;
}
