@import "tailwindcss";

@theme {
  --font-nunito-sans: "Nunito Sans", sans-serif;
  --font-inter: Inter, system-ui, sans-serif;

}

@theme {
--color-bg-light: #f7f8fc;
--color-card-light: #ffffff;
--color-text-light: #111936;
--color-muted-light: #758097;
--color-accent-light: #7c4dff;
--color-border-light: #e7eaf1;
--shadow-light: 0 14px 35px rgba(17, 25, 54, 0.08);
 


--color-bg-dark: #07111f;
--color-card-dark: #13243a;
--color-text-dark:  #f5f7fb;
--color-muted-dark: #9aa8bd;
--color-accent-dark: #8b5cf6;
--shadow-dark: 0 20px 50px rgba(0,0,0,.35);

  
  
  } 

:root {
   font-family: Inter, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  /* box-sizing: border-box; */
  cursor: pointer;

}

a {
  font-weight: 500;
    text-decoration: inherit;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
 margin: 0;
   min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}
h2 {
 
  line-height: 1.1;
  font-weight: 600;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;

  font-family: inherit;

  cursor: pointer;
  
}


